<template>
  <div :style="outStyle" class="hori-bar-out">
    <div v-for="(p, idx) in datas" v-bind:key="idx" style="flex:1; display:inline-flex;" class="hori-bar-sect">
      <div :style="nameStyle(p)" class="hori-bar-name">
        <div :style="bgOfCodeName(p)">
          <div class="iconText" :style="bgOfCodeNameStr(p)">{{ aryCodeName[idx] }}</div>
          <div :style="bgOfCodeNameIcon(p)" v-html="bgIconSvg(p)"></div>
        </div>
        <span style="white-space:nowrap;font-size: 2.5rem;">{{ p.name }}</span>
      </div>
      <div :style="barStyle" class="hori-bar-block">
        <div :style="barBoderStyle(p)">
          <div :style="barBlockStyle(p)"></div>
        </div>
      </div>
      <div :style="countStyle(p)" class="hori-bar-count">{{ p.count }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "lu-hori-bar",
  props: [
    'datas', 'bgcolor', 'padding', 'barBorderColor', 'barBorderWidth',
    'fontSize', 'fontColor', 'fontFamily'
  ],
  computed: {
    _fontSize: function () {
      return this.fontSize || '14px';
    },
    _fontColor: function () {
      return this.fontColor || '#111111';
    },
    _fontFamily: function () {
      return this.fontFamily || 'Arial';
    },
    _svgIconHeight: function () {
      let f = this._fontSize;
      let unit = 'px';
      if (/rem$/.test(f)) {
        unit = 'rem';
      } else if (/em$/.test(f)) {
        unit = 'em';
      }
      let num = parseFloat(f.replace(unit, ''));

      return num * 2 + unit;
    },
    maxCount: function () {
      var maxCount = 0;
      var countAry = this.datas.map((c) => {
        maxCount = Math.max(maxCount, c.count);
        return c.count;
      })
      return maxCount;
    },
    barStyle: function () {
      return 'display:table-cell;max-width:40%;width:40%; position:relative;';
    },
    outStyle: function () {
      let bgcolor = this.bgcolor || 'transparent';
      let padding = this.padding || '0px';
      let fontSize = (this.fontSize) ? 'font-size:' + this.fontSize + ';' : '';
      let fontColor = (this.fontColor) ? 'color:' + this.fontColor + ';' : '';
      let fontFamily = (this.fontFamily) ? 'font-family:' + this.fontFamily + ';' : '';
      let heightR = 'height:' + this._svgIconHeight + '; line-height:' + this._svgIconHeight + ';';
      return 'background-color:' + bgcolor + '; display:flex; padding:' + padding + ';' + fontSize + fontColor + fontFamily + heightR;
    }
  },
  data() {
    return {
      aryCodeName: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q'],
      comeZero: true
    }
  },
  methods: {
    nameStyle: function (p) {
      return 'display:table-cell;max-width:40%;width:40%;text-align:right; padding-right:1%;display:flex; height:100%; color:' + p.color + ';';
    },
    countStyle: function (p) {
      return 'display:table-cell;max-width:20%;width:20%;text-align:left; padding-left:1%; color:' + p.color + ';';
    },
    barBlockStyle: function (p) {
      //maxCount
      let percent = Math.round(p.count / this.maxCount * 100);
      if (this.comeZero) percent = 1;
      return 'position:absolute; background-color:' + p.color + '; display:inline-block; height:100%; width:' + percent + '%; transition: all 0.8s ease;';

    },
    barBoderStyle: function (p) {
      let bw = (this.barBorderWidth) ? this.barBorderWidth : '1px';
      let border = (this.barBorderColor) ? 'border:' + bw + ' solid ' + this.barBorderColor + ';' : 'border:' + bw + ' solid transparent;';
      if (p.borderColor) border = 'border: ' + bw + ' solid ' + p.borderColor + ';';
      return 'position:relative; box-sizing:border-box; width:100%; height:' + this._fontSize + '; top:calc(0.5 * ' + this._fontSize + '); ' + border;
    },
    bgIconSvg: function (p) {
      var str = '';
      if (p.iconSvg) {
        str = p.iconSvg.replace('fill="none"', 'fill="' + p.color + '" style="width:100%;transform:scale(0.7)"')
      }
      return str;
    },
    bgOfCodeName: function (p) {
      var rt = 'display:inline-block;height:100%;width:' + this._svgIconHeight + '; position:relative;';

      return rt;
    },
    bgOfCodeNameStr: function (p) {
      return 'position:relative; z-index:3; text-align:center;height:100%;color:' + this.bgcolor + ';display:flex;align-items: center;justify-content: center;font-size:2.4rem';
    },
    bgOfCodeNameIcon: function (p) {
      var rt = 'display:inline-block;height:100%; position:absolute; top:-.5rem; left:0; z-index:1;';
      return rt;
    },
    enableDraw: function () {
    }
  },
  created: function () {
    setTimeout(() => {
      this.comeZero = false;
    }, 100)
  },
  watch: {
    $props: {
      handler: function () {
        this.enableDraw();
      },
      deep: true
    }
  }
}
</script>
