<template>
	<div>
		<svg :width="width" :height="height" :style="getSvgStyle()">
            
            <text v-for="(t,i) in xtagDisplay" :x="gridPosition.xtagPos[i].x" :y="gridPosition.xtagPos[i].y" :font-size="_cfgs.fontSize" :stroke="_cfgs.fontColor" text-anchor="middle" alignment-baseline="middle" v-if="_cfgs.showXTag">{{t}}</text>
            

            <g v-for="(pathText, p) in gridPosition.paths">
                <path :d="gridPosition.paths[p]" :stroke="_lineColor[p]" :stroke-width="gridPosition.lineWidth" fill="none" />
                <circle v-for="(t,i) in xtags" :cx="gridPosition.linePos[p][i].x" :cy="gridPosition.linePos[p][i].y" :r="_cfgs.dotSize" :fill="_lineColor[p]" v-show="gridPosition.dotShow[p][i]" />
            </g>
            
            <line :stroke="_cfgs.gridColor" :stroke-width="strokeWidthGrid" v-for="(t, i) in yData" :y1="gridPosition.ypos[i]" :x1="axis.x.x1" :y2="gridPosition.ypos[i]" :x2="axis.x.x2" v-if="gridPosition.showXLine[i]" />
            <text v-for="(t,i) in yData" :x="gridPosition.ytagPos[i].x" :y="gridPosition.ytagPos[i].y" :font-size="_cfgs.fontSize" :stroke="_cfgs.fontColor" text-anchor="end" alignment-baseline="end" v-if="_cfgs.showYNumber && t!==false">{{t}}</text>
            
            <line :stroke="_cfgs.axisColor" :stroke-width="strokeWidthAxis" :x1="axis.x.x1" :y1="axis.x.y1" :x2="axis.x.x2" :y2="axis.x.y2" v-if="_cfgs.showAxisX" />
            <line :stroke="_cfgs.axisColor" :stroke-width="strokeWidthAxis" :x1="axis.y.x1" :y1="axis.y.y1" :x2="axis.y.x2" :y2="axis.y.y2" v-if="_cfgs.showAxisY" />
        </svg>
	</div>
</template>

<script>
    export default {
        name: "lu-column-chart",
        props: [
            'xtags', 'datas', 'cfgs',
            'width', 'height', 'bgcolor',
            'lineColor'
        ],
        computed: {
            _lineColor: function(){
                var lineColor = this.lineColor || '#77bba0';
                if(typeof(lineColor)=='string') lineColor = [lineColor];
                var ary = this.datas.map((c)=>{ return c.color || lineColor ;})
                return ary; 
            },
            _fillColor: function(){
                var fillColor = this.fillColor || '#99ddc0';
                if(typeof(fillColor)=='string') fillColor = [fillColor];
                var ary = this.datas.map((c)=>{ return c.fill || fillColor ;})
                return ary; 
            },
            _cfgs: function(){
                var defaultVal = {
                    aniTime: 600,
                    axisColor: '#444444', gridColor: '#999999',
                    dotSize: 0,
                    fontColor: '#111111', fontSize: 14, 
                    showAxisX: true, showAxisY: true,
                    showAxisXGrid: true,
                    showYNumber: true, showXTag: true,
                    maxXNumber: 35
                }
                return Object.assign(defaultVal, this.cfgs)
            },
            chartWidth: function() {
                let w = this.getProps('width');
                return w - this.pdLeft - this.pdRight;
            },
            chartHeight: function() {
                let h = this.getProps('height');
                return h - this.pdTop - this.pdBottom;
            },
            axis: function() {
                let w = this.getProps('width');
                let h = this.getProps('height');
                let X = {
                    x1:this.pdLeft,
                    y1:h - this.pdBottom,
                    x2:w - this.pdRight,
                    y2:h - this.pdBottom
                }
                let Y = {
                    x1:this.pdLeft,
                    y1:this.pdTop,
                    x2:this.pdLeft,
                    y2:h - this.pdBottom
                };
                return {x:X, y:Y}
            },
            xtagDisplay: function(){
                let modNumber = Math.ceil(this.xtags.length / this._cfgs.maxXNumber);
                var ary = this.xtags.map((c, i, arr)=>{
                    if(i==0 || i==arr.length-1){
                        return c;
                    }else if(i % modNumber == 0){
                        return c;
                    }else{
                        return '';
                    }
                });
                
                return ary;
            },
            yData: function(){
                var reduceData = this.datas.map((curv)=>{ return curv.data; }).reduce((arr, crr)=>{ return arr.concat(crr); })
                let minValue = Math.min.apply(this, reduceData);
                let maxValue = Math.max.apply(this, reduceData);

                if(maxValue > 0 && minValue > 0)minValue = 0;
                if(maxValue < 0 && minValue < 0)maxValue = 0;

                if(maxValue > 0){
                    var tmpPs0 = maxValue - 0;
                    if((0 - minValue) / tmpPs0 < 0.2) minValue = 0 - Math.round(tmpPs0 * 0.2);
                }

                if(minValue < 0){
                    var tmpNs0 = 0 - minValue;
                    if(Math.abs(0 - maxValue) / tmpNs0 < 0.2) maxValue = Math.round(tmpNs0 * 0.2);
                }
                let rangeValue = maxValue - minValue;
                let step = 5;
                // if(rangeValue > 100) step = 10;
                let stepMinMax = this.getMinMaxStep(step, minValue, maxValue);
                let yData = [];
                for(var i = stepMinMax.min; i<=stepMinMax.max; i+=step){ yData.push(i); }
                yData.reverse();

                //只秀 Max , 0 , Min
                yData = yData.map((c, i)=>{
                    if(i==0 || i==yData.length-1 || c==0){
                        return c;
                    }else{
                        return false;
                    }
                })
                return yData;
            },
            gridPosition: function(){
                let w =0, h = 0;
                let xlen = this.xtags.length;
                let cfgs = this.cfgs;
                w = Math.round(this.chartWidth / (xlen-1));

                let xpos = [];
                let xtagPos = [];
                let xIntervalWidth = ((1/(xlen-1)) * this.chartWidth );
                let lineWidth = Math.floor(xIntervalWidth / this.datas.length);
                let offsetLeftPosX = Math.ceil(lineWidth / 2);
                for(var i=0; i<xlen; i++) {
                    let xposx = Math.round((i/(xlen-1)) * this.chartWidth ) + this.pdLeft;
                    xpos[i] = xposx;
                    xtagPos[i] = {x:xposx, y:this.chartHeight + this.pdTop + 30}
                }

                //計算 Y 高度
                let yData = this.yData;
                let ylen = this.yData.length;
                h = Math.round(this.chartHeight / (ylen-1));

                let ypos = [];
                let ytagPos = [];
                let zeroPosY = 0;
                for(var i=0; i<ylen; i++){
                    let yposy = Math.round((i/(ylen-1)) * this.chartHeight ) + this.pdTop;
                    // let yposy = h * i + this.pdTop;
                    ypos[i] = yposy;
                    ytagPos[i] = {x:this.pdLeft - 10, y:yposy}
                    if(yData[i]===0) zeroPosY = yposy;
                }

                //計算資料座標
                let linePos = [];
                let dotShow = [];
                var paths = [];
                for(var p=0; p<this.datas.length; p++){
                    linePos[p] = [];
                    dotShow[p] = [];
                    var pathAry = [];
                    var pathFillAry = [];
                    for(var i=0; i<xlen; i++){
                        var lx = xpos[i] + (p*lineWidth) + offsetLeftPosX;
                        var ly = ((this.yData[0] - this.datas[p].data[i]) / (this.yData[0] - this.yData[this.yData.length-1])) * this.chartHeight + this.pdTop;
                        if(this.drawFullRate < 1){
                            var offsetZeropToTop = (zeroPosY - ly) * (1-this.drawFullRate);
                            ly = ly + offsetZeropToTop;
                        }
                        linePos[p][i] = {x:lx, y:ly}
                        dotShow[p][i] = !this.dataDetectNull(this.datas[p].data[i]);
                        if(this.datas[p].data[i] !== 0){
                            pathAry.push('M' + lx + ' ' + ly)
                            pathAry.push('L' + lx + ' ' + zeroPosY)
                        }else{
                            pathAry.push('M' + lx + ' ' + (zeroPosY-3))
                            pathAry.push('L' + lx + ' ' + (zeroPosY+3))
                        }
                    }
                    paths[p] = pathAry.join(' ');
                }

                //計算顯示與否
                let showXLine = ypos.map((c,idx)=>{
                    if(yData[idx]===false || idx == ypos.length - 1 || yData[idx]!==0){
                        return false;
                    }else{
                        return cfgs.showAxisXGrid;
                    }
                    return true;
                })
                
                
                return {
                    xpos: xpos,
                    xtagPos: xtagPos,
                    ypos: ypos,
                    ytagPos: ytagPos,
                    dotShow: dotShow,
                    linePos: linePos,
                    lineWidth: lineWidth,
                    path: paths[0],
                    paths: paths,
                    showXLine: showXLine,
                    height: h,
                    width: w
                }
            }
        },
        data() {return {
            aniStartTime: 0,
            drawFullRate: 1,
            pdLeft: 80,
            pdTop: 50,
            pdRight: 80,
            pdBottom: 80,
            strokeWidthAxis: 2,
            strokeWidthGrid: 1
        }},
        methods: {
            getProps: function(st){
                switch(st){
                    case 'width':
                        return parseInt(this.width) || 800;
                    break;
                    case 'height':
                        return parseInt(this.height) || 600;
                    break;
                }
            },
            getMinMaxStep: function(step, min, max) {
                var smin = min - (min % step), smax = max - (max % step) + step;
                if(min < 0) smin = smin - step;
                return {min:smin, max:smax}
            },
            getSvgStyle: function() {
                let bgcolor = this.bgcolor || '#ffffff';
                return 'background-color:' + bgcolor + ';';
            },
            dataDetectNull: function(c){
                return !!(c==="" || c===false || c===null)
            },
            drawAni: function(){
                var msec = Date.now() - this.aniStartTime;
                var rate = msec / this._cfgs.aniTime;
                if(rate >= 1) rate = 1;
                this.drawFullRate = rate;
                if(rate < 1){
                    window.requestAnimationFrame(this.drawAni);
                }
            },
            enableDraw: function(){
                this.aniStartTime = Date.now();
                this.drawAni();
            }
        },
        mounted: function(){
            this.enableDraw();
        },
        watch :{
            $props: {
                handler: function(){
                    this.enableDraw();
                },
                deep: true
            }
        }
    }
</script>
